# Python
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints/

# IDE / OS
.vscode/
.DS_Store

# Project artifacts & data
checkpoint/
runs/
artifacts/
ui_runs/
*.log
*.npy

# Datasets (keep scripts instead)
dataset/

app1.py
